@mixin pad {
    @media (max-width: 1100px) {
        @content;
    }
}

@mixin mobile {
    @media (min-width: 375px) and (max-width:768px){
        @content;
    }
}

@mixin basicRwdInsideContainer {
    width: 100%;
    min-width: 1000px;
    max-width: 1200px;

    @include pad {
        min-width: 700px;
        max-width: 900px;
    }

    @include mobile {
        min-width: 365px;
        max-width: 750px;
    }
}


.container {
    width: 100vw;
    margin: 0 auto;
    // height: calc(100vh - 50px);
    padding-top: 50px;
    display: flex;
    justify-content: center;
    background-color: $white-light;
    
    > .insideContainer {
        @include basicRwdInsideContainer;
    }
}